header {
    background-color: rgb(0, 54, 0);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;
}

.header-container .media-icons {
    display: flex;
    align-items: center;
    gap: 18px;
}