header {
    background-color: #133418;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 70px;
}

.header-container .media-icons {
    display: flex;
    align-items: center;
    gap: 18px;
}

.search-header {
    color: white;
    border: none;
    padding: 10px 20px;
}

.search-header input {
    color: white;
    font-size: 16px;
}